<!-- <div (scroll)="onTableScroll($event)"
  class="w-full max-h-[700px] overflow-y-auto border border-gray-200 rounded-2xl bg-white dark:border-white/[0.05] dark:bg-white/[0.03]">
  <table class="min-w-full">
  <thead class="sticky top-0 bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-white/[0.05]">
    <ng-content select="[table-head]"></ng-content>
  </thead>


    <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
      <ng-container *ngFor="let item of data">
        <ng-container
          *ngTemplateOutlet="rowTemplate; context: { $implicit: item }"
        ></ng-container>
      </ng-container>

      <tr *ngIf="loadingMore">
        <td colspan="100%" class="text-center py-4 text-gray-400 text-sm">
          Loading...
        </td>
      </tr>
    </tbody>

  </table>
</div> -->

<div
    class=" overflow-y-auto border border-gray-200 rounded-2xl bg-white dark:border-white/[0.05] dark:bg-white/[0.03]"
    infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150" (scrolled)="onScrollDown()">
  <table class="min-w-full table-fixed">

    <thead class="sticky top-0 bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-white/[0.05]">
      <ng-content select="[table-head]"></ng-content>
    </thead>

    <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
      <ng-content></ng-content>

      <tr *ngIf="loadingMore" class="transition hover:bg-gray-50 dark:hover:bg-gray-900">
        <td colspan="100%" class="py-6">
          <div class="flex justify-center items-center w-full">
            <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
              [style]="{ width: '50px', height: '50px' }" />
          </div>
        </td>
      </tr>
      
    </tbody>

  </table>
</div>